<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- Brand -->
    <router-link to="/" class="navbar-brand">Guild</router-link>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Nav -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link to="/" class="nav-link">トップ</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/sign_up" class="nav-link">アカウント作成</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/sign_in" class="nav-link">ログイン</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
