<template>
  <div class="pt-4">
    <div id="flash"></div>

    <h3>アカウント作成</h3>
    <form>
      <!-- ロール一覧 -->
      <div class="form-group">
        <div v-for="role in roles" v-bind:key="'role_' + role.id" v-bind:id="'role_' + role.id" class="form-check form-check-inline">
          <input v-model="user.role_id" class="form-check-input" type="radio" name="user_attributes_role" v-bind:id="'user_attributes_' + role.id" v-bind:value="role.id">
          <label class="form-check-label" v-bind:for="'user_attributes_' + role.id">{{ role.jp_name }}</label>
        </div>
        <div id="user_roles"></div>
      </div>

      <!-- アカウントID -->
      <div class="form-group">
        <label for="user_uuid">アカウントID</label>
        <input v-model="user.uuid" type="text" class="form-control" id="user_uuid" placeholder="Account ID">
      </div>

      <!-- 表示名 -->
      <div class="form-group">
        <label for="user_handle_name">表示名</label>
        <input v-model="user.handle_name" type="text" class="form-control" id="user_handle_name" placeholder="Handle name">
      </div>

      <!-- メールアドレス -->
      <div class="form-group">
        <label for="user_email">メールアドレス</label>
        <input v-model="user.email" type="email" class="form-control" id="user_email" placeholder="Email address">
      </div>

      <!-- パスワード -->
      <div class="form-group">
        <label for="user_password">パスワード</label>
        <input v-model="user.password" type="password" class="form-control" id="user_password" placeholder="Password">
      </div>

      <!-- パスワード確認 -->
      <div class="form-group">
        <label for="user_password_confirmation">パスワード確認</label>
        <input v-model="user.password_confirmation" type="password" class="form-control" id="user_password_confirmation" placeholder="Password confirmation">
      </div>

      <button v-on:click="createUser" type="button" class="btn btn-primary">登録</button>
    </form>
  </div>
</template>

<script>
// axion 導入
import axios from 'axios';

// csrf-token の取得
const authenticity_token = document.getElementsByName('csrf-token')[0].content;
export default {
  data: function () {
    return {
      roles: [],
      user: {
        role_id: '',
        uuid: '',
        handle_name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
    }
  },
  mounted: function () {
    this.fetchUser();
  },
  methods: {
    fetchUser: function () {
      axios.get('/api/guest/sign_up').then((responce) => {
        this.roles = responce.data.roles;
      }, (error) => {
        console.log(error);
      });
    },
    createUser: function () {
      $('.invalid-feedback').empty();
      axios.post('/api/guest/',{
         authenticity_token: authenticity_token,
         user: {
          role_ids: [this.user.role_id],
          uuid: this.user.uuid,
          handle_name: this.user.handle_name,
          email: this.user.email,
          password: this.user.password,
          password_confirmation: this.user.password_confirmation
        }
      }).then((responce) => {
        this.displayFlashMessage(responce.data.flash);
        $('input').val('');
      }).catch((error) => {
        if (error.response.data && error.response.data.errors) {
          this.displayUserError(error.response.data.errors);
        }
      });
    },
    displayUserError: function (messages) {
      Object.keys(messages).forEach(function (key, id) {
        var val = "";

        messages[key].forEach(function(text) {
          if (val === "") {
            val = text;
          } else {
            val = val + "<br>"+ text;
          }
        });

        $('#'+key).parent().append(
          "<div class=\"invalid-feedback\">"
          + val
          + "</div>");
      });
    },
    displayFlashMessage: function (message) {
      $('#alert').empty();
      $('#flash').append(
        "<div id=\"alert\" class=\"alert alert-primary\" role=\"alert\">"
        + message
        + "</div>"
      )
    }
  }
}
</script>

<style>
.invalid-feedback {
  display: block;
}
</style>
