<template>
  <div class="jumbotron mt-4">
    <h1>Top Page</h1>
    <p class="lead">Guild っていうサービスでえす。盛り上げていきましょお。</p>
    <hr class="my-4">
    <p>このサイトについてもっと知りたい？下にリンク用意したよお。動作しないけどねえ。</p>
    <a class="btn btn-primary" href="#" role="button">意味を持たないリンクのような何か</a>
  </div>
</template>
