doctype html
html lang="ja"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    meta http-equiv="X-UA-Compatible" content="ie=edge"/
    title Guild
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  body
    = yield
