<%= @user.handle_name %> 様

この度は【Guild】にご登録頂きまして誠にありがとうございます。

ご本人様確認のため、下記URLへ「１時間以内」にアクセスし
アカウントの本登録を完了させて下さい。

<%= mailer_user_confirmation_url(confirmation_token: @token) %>

当メール送信後、１時間を超過しますと、セキュリティ保持のため有効期限切れとなります。
有効期限切れとなった場合は、認証用メール送信画面にアクセスしてください。
