<%= @user.handle_name %> 様

この度は【Guild】にご登録頂きまして誠にありがとうございます。

ご本人様確認のため、下記URLへ「１時間以内」にアクセスし
パスワードリセットを完了させて下さい。

<%= edit_user_password_url(reset_password_token: @token) %>

当メール送信後、１時間を超過しますと、セキュリティ保持のため有効期限切れとなります。
有効期限切れとなった場合は、パスワードリセット画面にアクセスしてください。
